<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
  <h1>Full Menu</h1>
  <ul>
    <% RESTAURANT.menu.forEach(function(element) { %>
       <li> Name:<%= element.name %>,  Price:<%= element.price %>,  Rating:<%= element.rating %>,  Details:<%= element.details %></li>
    <% }); %> 
   </ul>
</body>
</html>
